enviopdf-laboratorio.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "prueba-pdf",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "={{ $json.body.pdf_url }}",
        "responseFormat": "file",
        "options": {}
      },
      "name": "Descargar PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [680, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n \"ok\": true,\n \"mensaje\": \"PDF descargado correctamente\",\n \"size\": \"{{ $binary.data.fileSize }}\"\n}",
        "options": {}
      },
      "name": "Responder",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Descargar PDF", "type": "main", "index": 0 }]] },
    "Descargar PDF": { "main": [[{ "node": "Responder", "type": "main", "index": 0 }]] }
  }
}
